
.aboutUs-page-center-container {
    margin-block: 0em 5em;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

@media (max-width: 40em) {
    .aboutUs-page-center-container {
        margin-block: 0em 2em;
    }
}


.intro-text-container {
    width: auto;
    max-width: 70vw;
    margin-block: 2em;

    text-align: justify;
}

@media (max-width: 54em) {
    .intro-text-container {
        max-width: 100%;
        margin-block: 2em;
        margin-inline: 3em;

        text-align: justify;
    }
}

@media (max-width: 40em) {
    .intro-text-container {
        max-width: 100%;
        margin-block: 2em;
        margin-inline: 1.5em;

        text-align: justify;
    }
}

.aboutUs-content-section {
    width: auto;
    margin-inline-start: auto;

    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;

    gap: 1em 10vw;
}

.aboutUs-content-section .information-section-container {
    min-width: 320px;
    width: 35vw;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    text-align:unset;
}

.aboutUs-content-section .information-section-container li{
    margin-left: 10%;
    font-size: max(1.1vw, 0.75rem);
    color: #9F9F9F;
}

.aboutUs-content-section .image-gallary {
    min-width: 320px;
    max-width: 40vw;

    display: grid;

    grid-template-columns: repeat(7, minmax(1fr,  1em));
    grid-template-rows: repeat(8, minmax(1fr,  1em));
    gap: 1em;
}

.aboutUs-content-section .image-gallary section {
    overflow: hidden;
}

.aboutUs-content-section .image-gallary img {
    width: 100%;
    height: 100%;

    align-self: center;
}

.aboutUs-content-section .image-gallary .img-1 {
    grid-row: 1 / span 3;
    grid-column: 5 / span 3;
}

.aboutUs-content-section .image-gallary .img-1 img {
    transform: scale(1.4) translateX(15%);
}

.aboutUs-content-section .image-gallary .img-2 {
    grid-row: 3 / span 3;
    grid-column: 1 / span 4;
}

.aboutUs-content-section .image-gallary .img-2 img {
    transform: scale(1.4);
}

.aboutUs-content-section .image-gallary .img-3 {
    grid-row: 4 / span 3;
    grid-column: 6 / span 2;
}

.aboutUs-content-section .image-gallary .img-3 img {
    transform: scale(2) translateX(28%);
}

.aboutUs-content-section .image-gallary .img-4 {
    grid-row: 6 / span 4;
    grid-column: 2 / span 4;
}

.aboutUs-content-section .image-gallary .img-4  img{
    transform: scale(1.1) translateX(10pt) translateY(25px);
}