
.footer-container {
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top: solid 1px #9F9F9F;
}

.footer-container .footer-heading {
    margin-bottom: 1.4rem;

    font-family: 'Poppins', sans-serif;
    color: #000000;
    
    font-size: x-large;
    font-weight: 500;
}

.footer-container .sub-heading {
    margin-bottom: 1.8rem;
    font-family: 'Poppins', sans-serif;
    color: #9F9F9F;
    font-weight: normal;
    font-size: larger;
}


/* Information Section */
.footer-container .information-section {
    width: 85vw;
    min-width: 300px;

    padding-block: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    gap: 0% 20%;

    border-bottom: solid 1px #9F9F9F;
}

.footer-container .address-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-bottom: 1rem;
}

.footer-container .links-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-section .footer-link {
    margin-bottom: 1rem;
    text-decoration: none;
}

.footer-container .help-section {
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container .help-section .help-section-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 1rem;
}


/* Copyright Section */
.footer-container .copyright-section {
    padding-block: 1rem;
    width: 85vw;
}