
.footer-container {
    width: auto;
    min-width: 320px;
    min-height: 20em;

    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    gap: 3em;

    border-top: solid 1px #9F9F9F;
}

@media (max-width: 60em) {
    .footer-container {
        min-height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 40em) {
    .footer-container {
        min-height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}


.footer-container .logo-section {
    display: flex;
    flex-direction: row;

    align-items: center;
}

@media (max-width: 40em) {
    .footer-container .logo-section {
        margin-inline-start: 1.5em;
    }
}

.logo-section img {
    width: 5em;
    height: auto;
    margin: 0.5rem;
}


.footer-container .footer-navigation{
    display: flex;
    flex-direction: row;
    gap: 3em;

    list-style: none;
}

@media (max-width: 40em) {
    .footer-container .footer-navigation{
        margin-inline: 2em;
        flex-direction: column;
        gap: 1.5em;
    } 
}

.footer-navigation .navigation-link {
    text-decoration: none;
    font-family:'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}


.footer-container .copyright-section {
    display: flex;
    flex-flow: row wrap;

    gap: 0.5rem;
}

@media (max-width: 40em) {
    .footer-container .copyright-section {
        margin-inline: 2em;
        margin-block-end: 2em;
    
        gap: 0.5rem;
    }
}