.brand-panel-container {
    width: 100vw;
    height: 25vh;
    margin: 0 0 2% 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color:#FAF3EA;
}

.panel-item-container{
    width: 25%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 2%;
}

.brand-panel-container .panel-item-image {
    width: 4vw;
}