.brand-panel-container {
    width: auto;
    min-height: 200px;

    margin-block: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color:#FAF3EA;
}

/* Tablet view */
@media (max-width: 65rem) {
    .brand-panel-container {
        min-height: 150px;
        margin-block: 1.5rem;
    }
}

/* Smartphone view */
@media (max-width: 40rem) {
    .brand-panel-container {
        min-height: 125px;
        margin-block: 1rem;
    }
}

.panel-item-container{
    width: 25%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 2%;
}

.brand-panel-container .panel-item-image {
    width: 4vw;
    min-width: 40px;
}