@keyframes slideInTop {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* New container for the gallery page animation */
  .gallery-page-container {
    /* Adjust the duration and easing as needed */
    animation: slideInTop 1s ease-out forwards;
  }