.title-card-container {
    display: flex;
    flex-direction: column;

    width: 100vw;
    overflow: hidden;
}

.title-card-container .image-container {
    overflow: hidden;
    width: 100%;
    height: 35vh;

    background-color: rgba(200, 200, 200, 1);
}

.title-card-container .image-container img {
    width: 100vw;
    height: 600px;

    mix-blend-mode: multiply;
    opacity: 0.3;
}

.title-card-container .content-container {
    margin-top: 2%;
    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    align-self: center;
}

.title-card-container .content-container img{
    height: 6vh;
}

.title-card-container .content-container h1{

    font-size: 1.8rem;
    font-weight: bolder;
}