.homepage-centre-container {
    width: auto;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.homepage-centre-container .homepage-banner-container {
    margin-block: max(50px, 10dvh);
    margin-inline: max(12vw, 10px);

    width: auto;
    max-height: 600px;
    min-height: 165px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5%;
}

.homepage-centre-container .homepage-banner-container img {
    max-width: 40vw;
    min-width: 80px;
}

.homepage-banner-container .homepage-banner-content {
    width: 40%;
    min-width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepage-banner-container .homepage-banner-content button {
    width: 12vw;
    min-width: 100px;
    
    min-height: 30px;
    padding: min(1vw, 10px);

    background-color: #B88E2F;

    border-width: 0;
}

.homepage-centre-container .homepage-content-container {
    width: 60%;
    margin-inline: max(10vw, 10px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: max(2vw, 10px);
    text-align: justify;
}

.homepage-centre-container .homepage-banner {
    margin-block: max(50px, 10dvh);

    width: 60vw;
    min-width: 375px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homepage-banner .banner-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5%;
}

.homepage-banner .banner-image-container .banner-image {
    max-width: 12vw;
    min-width: 90px;
}

.homepage-centre-container .packages-section {
    margin-inline: max(10vw, 10px);
    width: auto;

    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    gap: 5% 5%;
}

.homepage-centre-container .gallary-section {
    margin-block: max(50px, 10dvh);

    width: auto;
    min-height: 175px;
    max-height: 480px;

    display: grid;
    grid-template-columns: repeat(13, minmax(20px, 1fr));
    grid-template-rows: repeat(13, minmax(14.5px, 1fr));

    gap: 5pt 5pt;
}

.homepage-centre-container .gallary-section section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homepage-centre-container .gallary-section img {
    width: 100%;
    height: 100%;
}

.homepage-centre-container .gallary-section p {
    text-align: center;
}

.homepage-centre-container .gallary-section .title {
    grid-row: 1 / span 1;
    grid-column: 3 / span 9;
}

.homepage-centre-container .gallary-section .subtitle {
    grid-row: 2 / span 2;
    grid-column: 3 / span 9;
}

.homepage-centre-container .gallary-section .img-1 {
    grid-row: 3 / span 5;
    grid-column: 1 / span 2;
}
.homepage-centre-container .gallary-section .img-1 img {
    transform: scale(1.2) translateX(-8%);
}

.homepage-centre-container .gallary-section .img-2 {
    grid-row: 4 / span 4;
    grid-column: 3 / span 4;
}
.homepage-centre-container .gallary-section .img-3 {
    grid-row: 5 / span 4;
    grid-column: 7 / span 2;
}
.homepage-centre-container .gallary-section .img-4 {
    grid-row: 4 / span 4;
    grid-column: 9 / span 3;
}
.homepage-centre-container .gallary-section .img-5 {
    grid-row: 3 / span 5;
    grid-column: 12 / span 2;
}
.homepage-centre-container .gallary-section .img-6 {
    grid-row: 8 / span 5;
    grid-column: 4 / span 3;
}
.homepage-centre-container .gallary-section .img-7 {
    grid-row: 8 / span 6;
    grid-column: 9 / span 2;
}
.homepage-centre-container .gallary-section .img-8 {
    grid-row: 8 / span 5;
    grid-column: 11 / span 2;
}