.contact-us-page-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.information-section-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 0;
    align-items: center;

}

 .subtext {
    display: flex;
    flex-direction: row;
    align-self: center;

    margin: 0 28% 5% 28%;
}

.subtext p {
    text-align: center;
}

@media (max-width: 40em) {
    .subtext {
        max-width: 75%;
        margin-inline: 2rem;
    }

    .subtext p {
        text-align: justify;
    }
}