.information-section-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 0;
    align-items: center;

}

 .subtext {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin: 0 28% 0 28%;
    color : "#9F9F9F";
    font-size : "10pt";
    font-weight:"regular";
}